* {
    box-sizing: border-box;
}
#select {
	margin-top: -20px;
	margin-left: 20px;
    width: 40%;
    float: left;
}
#cart {
    margin-top: -20px;
    margin-right: 400px; 
    width: : 50%;
    float: right;
}

#bill {
   margin-top: 50px;
   margin-left: 20px;
}

.down_b {
	position:absolute;
	bottom:0;
	margin-left: 20px;
}
