/* --------------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:"Courier";
	font-size: 20px;
	text-rendering: optimizeLegibility;
	height: 100vh;
}

/* --------------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------------- */

header {
	height:20%;
	font-size: 140%;
	padding: 20px;
	background-color: #00425D;
	color: #fff;
}

header h1 {
	margin: 15px 140px;
	text-decoration: none;
}

header img {
	height: 100px;
	width: auto;
	float: left;
}

header p {
	float: right;
	margin-top: -100px;
	font-size: 58%;
}

/* --------------------------------------------------------- */
/* TAGS */
/* --------------------------------------------------------- */


h1 { margin-bottom: 20px;
	 text-decoration: underline;
 }

a {
	background-color: #00425D;
	color: #fff;
	border-radius: 10%;
	padding: 5px;
	font-size: 80%;
}

.btn-down {

	margin: 20px;
}

th {
	background-color: #026785;
}

#item {
	height: 30px;
	width: 200px;
	border-radius: 2%;
	border: 1px solid #026785;
}

table,th,td
 {
	border-collapse: collapse;
	border: 2px solid;
	padding: 5px;
	margin-left: -20px;
}

th {
	height: 30px;
}
td input {
	height: 25px;
	background-color: #D9D9D9;
	padding-left: 10px;
	width: 110px;
}

/* --------------------------------------------------------- */
/* SECTIONS */
/* --------------------------------------------------------- */

/* ----- BUY -----*/

.section-buy {
	height: 70%;
	width: 40%;
	float: left;
	overflow-y: scroll;
	padding: 40px;
	padding-left: 70px;
	border: 1px solid black;
	background-color: #D9D9D9;

}

/* ----- CART -----*/

.section-cart {
	height: 70%;
	width: 25%;
	float: left;
	padding: 40px;
	padding-left: 60px;
	border: 1px solid black;
	background-color: #D9D9D9;
}

/* ----- BILL -----*/

.section-bill {
	height: 70%;
	width: 35%;
	float: left;
	padding: 40px;
	border: 1px solid black;
	background-color: #D9D9D9;
}

/* --------------------------------------------------------- */
/* FOOTER */
/* --------------------------------------------------------- */

footer {
	height: 80%;
	background-color: #00425D;
	color: #fff;
	font-size: 70%;
	text-align: center;
	padding-top: 510px;
}