body {
  margin: 0; }

.head {
  position: relative;
  height: 100px;
  width: 100%;
  border-bottom-color: skyblue;
  border-bottom-style: solid;
  border-bottom-width: thin; }

fieldset {
  position: relative;
  border: 1px solid grey;
  width: 80%;
  height: 100%;
  margin: 50 auto;
  margin-top: 10px;
  padding: 0;
  text-align: center; }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  border-top-color: skyblue;
  border-top-style: solid;
  border-top-width: thin; }

hr {
  width: 325px;
  margin: 0 auto; }

.inner {
  margin: 10px;
  padding: 5px;
  margin-bottom: 80px; }

#enq {
  color: skyblue; }

.contactright {
  padding-left: 80%;
  margin-top: -12%; }

.contactleft {
  padding-left: 3%; }

#us {
  padding-left: 3%;
  padding-top: 1%; }
  #us h2 {
    margin-bottom: 0; }

#me {
  background: skyblue;
  border-color: skyblue;
  margin-left: 500px; }

#feed {
  margin-left: 135px; }

#tac {
  width: 850px;
  margin-bottom: 20px; }

#range {
  margin-right: 230px; }

ul {
  position: absolute;
  margin-top: 35px;
  margin-left: 850px;
  list-style: none;
  overflow: hidden; }

li {
  float: left;
  padding: 10px; }

li a {
  text-decoration-color: white;
  color: black; }

#cu {
  color: skyblue; }

input {
  background-color: rgba(0, 0, 0, 0.07); }

#end {
  margin: 0;
  width: 100%; }

#c {
  float: right; }

/*# sourceMappingURL=contact.css.map */
